<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <springProperty scope="context" name="APP" source="spring.application.name"/>

    <property name="LOG_HOME" value="/export/log/${APP}"/>
    <property name="devLogFormat" value="%d{MM-dd HH:mm:ss} %clr(%5level) %cyan(%-50.50logger{49}):%magenta(%4line) [%blue(%-15.15thread{15})] - "/>
    <property name="proLogFormat" value="%d{yy-MM-dd.HH:mm:ss.SSS} [%-16t] %-5p %-22c{1}%X{ServiceId} - %m%n"/>

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <!--<conversionRule conversionWord="ip" converterClass="com.fan.xc.boot.starter.configuration.LogBackIpClassicConverter"/>-->
    <!--<define name="ip" class="com.fan.xc.boot.starter.configuration.LogBackIpPropertyDefiner"/>-->

    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder><!-- %magenta -->
                <pattern>${devLogFormat}%m %n</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
        </appender>
        <appender name="CONSOLE-ERROR" class="ch.qos.logback.core.ConsoleAppender">
            <encoder><!-- %magenta -->
                <pattern>${devLogFormat}%boldRed(%m) %n</pattern>
            </encoder>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
    </springProfile>

    <springProfile name="pro,test">
        <property name="maxHistory" value="10"/>
        <appender name="DETAIL" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
            <File>${LOG_HOME}/detail.log</File>
            <encoder>
                <pattern>${proLogFormat}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/detail.log.%d{yyyyMMdd}.%i</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <totalSizeCap>50GB</totalSizeCap>
                <maxFileSize>2GB</maxFileSize>
            </rollingPolicy>
        </appender>
        <appender name="DETAIL-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender" additivity="false">
            <File>${LOG_HOME}/error.log</File>
            <encoder>
                <pattern>${proLogFormat}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/error.log.%d{yyyyMMdd}.%i</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <totalSizeCap>10GB</totalSizeCap>
                <maxFileSize>1GB</maxFileSize>
            </rollingPolicy>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>
    </springProfile>

    <springProfile name="dev">
        <logger name="com.fan.xc.boot.starter.servlet" level="INFO"/>
        <logger name="com.fan.xc.boot" level="DEBUG"/>
        <logger name="com.jd.jt2" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="CONSOLE-ERROR"/>
        </root>
    </springProfile>

    <springProfile name="pro,test">
        <logger name="com.fan.xc.boot.starter.servlet" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="com.fan.xc.boot" level="DEBUG"/>
        <logger name="com.jd.jt2" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="DETAIL"/>
            <appender-ref ref="DETAIL-ERROR"/>
        </root>
    </springProfile>
</configuration>